# DESCO Prepaid Credentials
DESCO_USER=13130431
DESCO_PASS=your_password_optional_if_only_account_is_used
METER_NUMBER=661120146954

# Email Settings (for SMTP)
# EMAIL_USER: Your full email address (e.g. user@gmail.com)
EMAIL_USER=nafiz.movies@gmail.com
# EMAIL_PASS: This is your Google "App Password" (16 chars), NOT your login password.
EMAIL_PASS=nafiz123##
# EMAIL_TO: Who should receive the alerts
EMAIL_TO=nafiz.imtiaz3@northsouth.edu

# SMTP Settings
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
